*{
    margin:0;
    padding:0;
    outline:0;
}
body{
    font-family:arial;
    font-size: 14px;
     line-height: 18px;
    background:url(images/geometric-leaves.png)repeat fixed 0 0 #fff;
    position: relative;
}
.templete
{

width:960px;
margin:0 auto;


}
.contemplete
{

    width:958px;
    margin:0 auto;
    
}



input[type="text"],input[type="email"]

{
border:1px solid #cfc5b6;
border-radius:3px;
margin-bottom:5px;
padding:7px;
width:300px;
}
input[type="submit"]
{
background:#b7801c;
border:1px solid #e6af4b;
color:#fff;
cursor:pointer;
font-size:20px;
padding:1px 10px;
}
input[type="submit"]:hover
{
background:#FEF4E5;
color:#000;
}
.headersection
{
background:green;
color:#fff;
height:80px;

}
.headersection img
{
    width:100px;
    height:40px;
    background:#fff;
}
.navsection 
{
   background:green;
   min-height:38px;
    
}
.navsection ul
{
margin:0;
padding:0;
list-style:none;

}
.navsection ul li
{
    border:2px solid green;
     display:block;
     float:left;
     position: relative;
     border-radius:4px;

}
.navsection ul li ul
{
position:absolute;
left:-999999px;
z-index:99999999;
}
.navsection ul li:hover ul
{
    left:0px;
   
}
.navsection ul li ul li
{
     background:green;
     width:200px;
     position: relative;
     
  
    
}
.navsection ul li ul li:last-child
{
    border-bottom:0px solid #c18a26 ;
}
.navsection ul li ul  li a
{

}

.navsection ul li:first-child
{
    border-left:0px solid #fdc662;
}
.navsection ul li:last-child
{
    border-right:0px solid #c18a26;
}

.navsection ul li a
{
    background:green;
    color:#fff;
    display:block;
    font-size:20px;
    font-weight:bold;
    margin:3px;
    margin-right:5px;
    padding:4px 5px 5px;
    text-decoration:none;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;

}
.navsection ul li a:hover{
    color:#fff;
    background:#ca932f;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;

    
}
#active
{
    color:#fff;
    background:#c48d29;
}

.social a{
    font-size:50px;
    
}

.content
{
    background:#FFFFFF;
    border:1px solid #ca932f;
    padding:0px;
}
.maincontent
{
    width:606px;
    background:#fef4e5;
    float:left;
    padding:0px 15px;
    margin:15px;
    border:1px solid #ded4c5;
}

.sidebar
{

background:#DFDFDF;
padding:10px;
width:253px;
margin-top:15px;
margin-right:15px;
margin-bottom:15px;
background:#fef4e5;
border:1px solid #ded4c5;
float:right;

}

.clear
{
    overflow: hidden;
}
.samesidebar
{
   border-bottom:10px;
}
.samesidebar h2
{
background:#c48d29 none repeat scroll 0 0;
border-bottom:2px solid #555555;
color:#333;
margin-bottom:8px;
padding:10px;
}
.samesidebar p
{
margin-bottom:10px;

}
.navsection .fa
{
    margin-right:5px;
}
.samepost
{

}
.samepost h2,.about h2
{
    border-bottom:2px solid #555555;
    font-size:24px;
    margin-bottom: 10px;
    padding:10px;
}
.samepost img
{
   background:#fff none repeat scroll 0 0;
   border:1px solid #9b999a;
   float:left;
   margin-right:10px;
   padding:5px;
   width:200px;
}
.samepost p
{
    font-size:16px;
    line-height:22px;
    text-align:justify;
    
    
}
.readmore
{
float:right;


}
.readmore a
{
    text-decoration: none;
    background:greenyellow;
    border:1px solid #9b999a;
    border-radius:3px;
    color:#333;
    display:block;
    font-size:17px;
    padding:4px 8px;
    text-decoration:none;

}
.readmore a:hover
{
    color:red;
}
.logo
{
width:430px;
float:left;
}
.logo img
{
width:90px;
padding-top:20px;
margin-right:10px;
float:left;

}
.logo h2
{
font-size:33px;
margin-top:10px;
margin-bottom:10px;
text-shadow:4px 4px 0 #666;
}
.logo p
{

}

.social
{
width:335px;
float:right;
padding-top:15px;
margin-right:14px;

}
.social img
{
    width:60px;
    margin-right:5px;
    border-radius:13px;
    
}
.social img:hover
{
background:green;
}
.slidersection
{
    
   /* margin-bottom:5px;*/
  

}
.footermenu
{
margin-top:25px;
margin-bottom:5px;
}
.footermenu ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
.footermenu ul li 
{
display:inline-block;


}
.footermenu ul li a
{
color:#E6AF4B;
font-size:18px;
margin-right:5px;
}
.footersection p
{

}
.footer
{
    height:90px;
    background:#c48d29 ;
    text-align:center;
}
.samesidebar ul
{
   padding:0;
   margin:0;
   list-style:none;
}
.samesidebar ul li
{
   border-bottom:1px dashed #e9c05c;
   font-size:16px;
   padding:5px 8px 5px 0;
}
.samesidebar ul li a
{
   text-decoration:none;
   color:#814a00;
}
.samesidebar ul li a:hover
{
   color:#DF5C25;
}
.samesidebar ul li:last-child
{
    border-bottom:0px dashed #e9c05c;
}
.about
{

}
.about img
{
background:#fff;
border:1px solid #b7801c;
float:left;
margin-right:10px;
padding:5px;
width:300px;
height:180px;

}
.about p
{
    font-size:16px;
    line-height:24px;
    margin-bottom:10px;
    text-align:justify;
}
textarea
{
    width:305px;
    height:110px;
    margin-bottom:10px;
    padding:5px;
    border:1px solid #e6af4b;
    
}
.popular
{

}
.popular h3
{
border-bottom:1px dashed #b7801c;
font-size:20px;
font-weight:normal;
margin-bottom:10px;
padding-bottom:5px;
}
.popular img
{
float:left;
height:40px;
margin-right:10px;
width:55px;
background:#fff;
border:1px solid #f6bf5b;
border-radius:30px;
margin-top:5px;
padding:3px;
width:55px;


}
.popular p
{
    text-align: justify;
}
.popular h3 a
{
    text-decoration:none;
    color:#444;
}
.relatedpost
{
    
}
.relatedpost h2
{
   background:#e6af4b;
   border-bottom:2px solid #b7801c !important;
   color:#000 !important; 
}
.relatedpost img
{
    height:100px;
    margin-bottom:10px;
    width:187px;
    
}
.relatedpost img:hover
{
    opacity:0.4;
}
.fixedicon
{
position:fixed;
left:115px;
top:160px;
width:100px;
}
.fixedicon img
{
width:60px;
cursor: pointer;
}
